@font-face {
	font-family:"CaviarDreams";
	src: url(font/Champagne&Limousines.ttf);
}

#imagee {	
	display:block;
	margin-top:8%;
	margin-right: auto;
	margin-left: auto;
}

#profile_name {
	display:inline-block;
	margin:0.4%;
	padding: 6px 12px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #CC6666;

}

.main_info {
	margin-top: 0.4%;
	padding:0.4%;
	display:block;
	background-color: ;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

p.info_font{
	font-weight: normal;
	font-size: 16px;
	margin-top: 0.4%;
	padding:0.2%;
}

.option_button_blocks {
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-color: green;
	line-height: 20px;
	width:33%;
}

.button-extra {
	float:left;
}

.button-extra2 {
	float:right;

}